<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpkd.common.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.tpkd.common.pojo.Article" >
    <id column="articleId" property="articleId" jdbcType="INTEGER" />
    <result column="doctorId" property="doctorId" jdbcType="INTEGER" />
    <result column="readNumber" property="readNumber" jdbcType="INTEGER" />
    <result column="collectionNumber" property="collectionNumber" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="articleValue" property="articleValue" jdbcType="VARCHAR" />
    <result column="digest" property="digest" jdbcType="VARCHAR" />
    <result column="classificationIdFirstLevel" property="classificationIdFirstLevel" jdbcType="INTEGER" />
    <result column="classificationIdSecondLevel" property="classificationIdSecondLevel" jdbcType="INTEGER" />
    <result column="classificationIdThirdLevel" property="classificationIdThirdLevel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    articleId, doctorId, readNumber, collectionNumber, title, articleValue, digest, classificationIdFirstLevel, 
    classificationIdSecondLevel, classificationIdThirdLevel
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article
    where articleId = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where articleId = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tpkd.common.pojo.Article" >
    insert into article (articleId, doctorId, readNumber, 
      collectionNumber, title, articleValue, 
      digest, classificationIdFirstLevel, classificationIdSecondLevel, 
      classificationIdThirdLevel)
    values (#{articleId,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER}, #{readNumber,jdbcType=INTEGER}, 
      #{collectionNumber,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{articleValue,jdbcType=VARCHAR}, 
      #{digest,jdbcType=VARCHAR}, #{classificationIdFirstLevel,jdbcType=INTEGER}, #{classificationIdSecondLevel,jdbcType=INTEGER}, 
      #{classificationIdThirdLevel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tpkd.common.pojo.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        articleId,
      </if>
      <if test="doctorId != null" >
        doctorId,
      </if>
      <if test="readNumber != null" >
        readNumber,
      </if>
      <if test="collectionNumber != null" >
        collectionNumber,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="articleValue != null" >
        articleValue,
      </if>
      <if test="digest != null" >
        digest,
      </if>
      <if test="classificationIdFirstLevel != null" >
        classificationIdFirstLevel,
      </if>
      <if test="classificationIdSecondLevel != null" >
        classificationIdSecondLevel,
      </if>
      <if test="classificationIdThirdLevel != null" >
        classificationIdThirdLevel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="readNumber != null" >
        #{readNumber,jdbcType=INTEGER},
      </if>
      <if test="collectionNumber != null" >
        #{collectionNumber,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="articleValue != null" >
        #{articleValue,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=VARCHAR},
      </if>
      <if test="classificationIdFirstLevel != null" >
        #{classificationIdFirstLevel,jdbcType=INTEGER},
      </if>
      <if test="classificationIdSecondLevel != null" >
        #{classificationIdSecondLevel,jdbcType=INTEGER},
      </if>
      <if test="classificationIdThirdLevel != null" >
        #{classificationIdThirdLevel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tpkd.common.pojo.Article" >
    update article
    <set >
      <if test="doctorId != null" >
        doctorId = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="readNumber != null" >
        readNumber = #{readNumber,jdbcType=INTEGER},
      </if>
      <if test="collectionNumber != null" >
        collectionNumber = #{collectionNumber,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="articleValue != null" >
        articleValue = #{articleValue,jdbcType=VARCHAR},
      </if>
      <if test="digest != null" >
        digest = #{digest,jdbcType=VARCHAR},
      </if>
      <if test="classificationIdFirstLevel != null" >
        classificationIdFirstLevel = #{classificationIdFirstLevel,jdbcType=INTEGER},
      </if>
      <if test="classificationIdSecondLevel != null" >
        classificationIdSecondLevel = #{classificationIdSecondLevel,jdbcType=INTEGER},
      </if>
      <if test="classificationIdThirdLevel != null" >
        classificationIdThirdLevel = #{classificationIdThirdLevel,jdbcType=INTEGER},
      </if>
    </set>
    where articleId = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tpkd.common.pojo.Article" >
    update article
    set doctorId = #{doctorId,jdbcType=INTEGER},
      readNumber = #{readNumber,jdbcType=INTEGER},
      collectionNumber = #{collectionNumber,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      articleValue = #{articleValue,jdbcType=VARCHAR},
      digest = #{digest,jdbcType=VARCHAR},
      classificationIdFirstLevel = #{classificationIdFirstLevel,jdbcType=INTEGER},
      classificationIdSecondLevel = #{classificationIdSecondLevel,jdbcType=INTEGER},
      classificationIdThirdLevel = #{classificationIdThirdLevel,jdbcType=INTEGER}
    where articleId = #{articleId,jdbcType=INTEGER}
  </update>
  <select id="selectByClassificationId" parameterType="com.tpkd.common.vo.article.ArticleTitleVo" resultMap="BaseResultMap">
    SELECT `articleId`,`doctorId`,`readNumber`,`collectionNumber`,`title`,`articleValue`,`digest`,`classificationIdFirstLevel`,`classificationIdSecondLevel`,`classificationIdThirdLevel`
    FROM `article`
    <where>
      <if test="classificationIdFirstLevel!=null and classificationIdFirstLevel!=''">
        AND  `classificationIdFirstLevel`=#{classificationIdFirstLevel}
      </if>
      <if test="classificationIdSecondLevel!=null and classificationIdSecondLevel!=''">
        AND  `classificationIdSecondLevel`=#{classificationIdSecondLevel}
      </if>
      <if test="classificationIdThirdLevel!=null and classificationIdThirdLevel!=''">
        AND  `classificationIdThirdLevel`=#{classificationIdThirdLevel}
      </if>
    </where>
  </select>
</mapper>