<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpkd.common.mapper.ImageMapper" >
  <resultMap id="BaseResultMap" type="com.tpkd.common.pojo.Image" >
    <id column="imageId" property="imageId" jdbcType="INTEGER" />
    <result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    imageId, imageUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from image
    where imageId = #{imageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from image
    where imageId = #{imageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tpkd.common.pojo.Image" >
    insert into image (imageId, imageUrl)
    values (#{imageId,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tpkd.common.pojo.Image" >
    insert into image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        imageId,
      </if>
      <if test="imageUrl != null" >
        imageUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="imageId != null" >
        #{imageId,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tpkd.common.pojo.Image" >
    update image
    <set >
      <if test="imageUrl != null" >
        imageUrl = #{imageUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where imageId = #{imageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tpkd.common.pojo.Image" >
    update image
    set imageUrl = #{imageUrl,jdbcType=VARCHAR}
    where imageId = #{imageId,jdbcType=INTEGER}
  </update>
</mapper>