<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tpkd.common.mapper.UserDoctorMapper" >
  <resultMap id="BaseResultMap" type="com.tpkd.common.pojo.UserDoctor" >
    <result column="userId" property="userId" jdbcType="INTEGER" />
    <result column="doctorId" property="doctorId" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.tpkd.common.pojo.UserDoctor" >
    insert into userdoctor (userId, doctorId)
    values (#{userId,jdbcType=INTEGER}, #{doctorId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tpkd.common.pojo.UserDoctor" >
    insert into userdoctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        userId,
      </if>
      <if test="doctorId != null" >
        doctorId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>